{% extends 'base.html' %}
{% block body %}
  <button class="btn btn-success btn-xs" id="playbook-add" >新增脚本</button>
   <input  type="file" name="playbook" id="playbook-file-input" style="display:none"/>  

   </br>
   <input type="submit" class="btn btn-success btn-xs" id="playbook-file-btn" value="上传包"  style="display:none"/>  

 <table class="table table-bordered " style="display:none" id="playbook-file-tb" >
                      <thead>
                          <tr>
                            <th style="width: 30px">包名</th>
                            <th style="width: 30px">大小</th>
                            <th style="width: 100px">进度</th>
                            <th style="width:20px"></th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><span  id="playbook-file-name"></span></td>
                        <td><span  id="playbook-file-size"></span></td>
                        <td>
                          <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" id="playbook-upload-pro" style="width: 0%"></div>
                          </div>
                        </td>
                      </tr>
  </table>
  </br>

{% for dir in playbook_list %}  
<button id="{{ dir }}" class="btn btn-success btn-primary">{{ dir }}</button>
{% endfor %}
                      

{% endblock body  %}