{% extends 'base.html' %}
{% block body %}
                      
 <a href="javascript:;" id="show_var_all">
  编辑配置文件<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
 </a>

<div style="border: 1px solid #ddd;height:500px"  id="editor2_demo2">
<textarea id="editor_var_all" style="height:500px" rows="20"></textarea>
<pre id="code_box" style="display:none;height:500px">
{{ var_all_file_contex }}
</pre>
</div>

<textarea style="ols:50;rows:3"></textarea>

{% endblock body  %}


{% block js_func %}
 $("#show_var_all").click(function(){
   $("#editor2_demo2").toggle();

 });

{% endblock js_func %}


{% block js  %}

<script>
var codeText = $('#code_box').html();
var editor = CodeMirror.fromTextArea(document.getElementById("editor_var_all"), {
  lineNumbers: true,
  mode: "text/html",
  matchBrackets: true,
  
});
editor.setValue(codeText);
</script>


{% endblock js %}
